<div class="container pad-top">
  <a ui-sref="newServiceDetails" class="btn-primary btn-lg nodecoration">Add New ServiceDetails</a>
  <table class="table ServiceDetailstable">
      <tr>
          <td><h3>All ServiceDetails</h3></td>
          <td></td>
      </tr>
      <tr ng-repeat="ServiceDetail in ServiceDetails">
          <td>{{ServiceDetail.name}}</td>
          <td>{{ServiceDetail.description}}</td>
          <td>{{ServiceDetail.flag}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewServiceDetails({id:ServiceDetail.id})">View</a>
              <a class="btn btn-danger"  ng-click="deleteServiceDetails(ServiceDetail)">Delete</a>
          </td>
      </tr>
  </table>
</div>

